html {
  min-height:100%;
}

body {
  background-image: linear-gradient(150deg, #C9D0D6, #293744);
  color: #0E1E2B;
  font-family: 'Josefin Slab', serif;
  font-weight:600;
}

a:visited {
  color: #7692B3;
}

a:hover {
  text-decoration: none;
}

header{
  border: 2px solid black;
  margin-left:35%;
  margin-right:35%;
  word-wrap: break-word;
}

nav {
  position: relative;
  width:30%;
  left:35%;
  right:35%;
  margin-top:25px;
  margin-bottom:25px;
  border: 2px solid #C2C1B1;
}

nav li {
  display: inline-block;
  border: 1px solid black;
  padding:8px;
  margin-left:45px;
}

header h1 {
  padding-left: 10px;
  margin-bottom:0px;
  text-align: center;
}

header h2 {
  padding-left: 10px;
  margin-top:5px;
  text-align: center;
}

.index {
  text-align: center;
}

.post {
  text-align: left;
  margin-top:50px;
  margin-bottom:10px;
  padding-bottom:10px;
  margin-left:25%;
  margin-right:25%;
}

section h2 {
  text-align:center;
}


.blog-nav button {
  display: inline-block;
  margin:3% 10% 3% 10%;
}


footer p {
  font-size:24px;
  text-align: center;
}