body {
  font-family: 'Playfair Display', serif;
}

.prettyprint {
  background-color: white;
  text-align: left;
  font-size: 14px;
}

.main {
  width: 75%;
  margin-left:12.5%;
  font-size: 20px;
}

.main h1 {
  text-align: center;
  font-size: 36px;
}

.left{
  float: left;
  width: 45%;
}

.left h2 {
  font-size: 32px;
  text-align: center;
}

.right{
  float: right;
  width:45%;
}

.right h2 {
  font-size: 32px;
  text-align: center;
}

footer {
  clear:both;
}