.projects{
  width: 75%;
  margin-left:12.5%;
  font-size: 20px;
}

.projects h1{
  text-align: center;
  font-size:40px;
}

.project-left {
  width: 60%;
  margin: 0% 0% 2% 0%;
}

.project-right {
  width: 60%;
  text-align: right;
  margin: 0% 0% 5% 40%;
}

.project-right ul {
  list-style-position: inside;
}